*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --Tipografia:"Open Sans", sans-serif;
    --colorPrincipal: #1e1e1e;
    --Acento: #f1c1df;
    --DetallesyTitulos: #b8995d;
    --blanco: #fff;
}

html{
    font-family: var(--Tipografia);
    font-size: 62.5%;
}

a{
    text-decoration: none;
    font-family: var(--Tipografia);
    color: var(--colorPrincipal);
}

h1{
  font-size: 4rem;
}

h2{
    font-size: 4rem;
}

h3{
  font-size: 1.6rem;
}

p{
  font-family: var(--Tipografia);
  font-size: 1.6rem;
}

img{
  max-width: 100%;
}

/*** NAV ***/

.navegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-derecha{
    display: flex;
    align-items: center;
    gap: 5rem;
    margin-right: 8rem;
    margin-top: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.logo{
    margin-top: 3rem;
    width: 25vh;
    margin-left: 8rem;
}

.btn{
    background-color: var(--colorPrincipal);
    border-radius: 0.5rem;
    color: var(--blanco);
    padding: 1rem 2rem;
}

nav a:hover{
    color: var(--Acento);
}


/* **HERO** */

.hero{
  background-image: url('img/hero.webp');
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex; 
  align-items: center;
  justify-content: flex-start;
  margin-top: 4rem;
}
  
.btn__hero{
  background-color: var(--Acento);
  line-height: 9rem;
  padding: 1rem 2rem;
  color: var(--blanco);
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 1.4rem;
}
  
.hero-titulo{
  font-size: 7rem;
  color: var(--blanco);
}

.hero-texto{
  font-size: 2rem;
  color: var(--blanco);
  line-height: 0.1rem;
}
  
.texto{
  margin-top: 0;
  margin-left: 8rem;
}

.btn__hero:hover{
  background-color: var(--DetallesyTitulos);
}

/* **Contenido de Landing Page** */

.destacado{
  margin-top: -20rem;
  margin-left: 2rem;
}

.grid-novedades{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 4rem 2rem;
}

.grid-item__1, .grid-item__2{
  height: auto;
  aspect-ratio: 16 / 9;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.grid-item__1{
  background-image: url('img/anillo-rapunzel_1.webp');
}

.grid-item__2{
  background-image: url('img/charm-evangeline.webp');
}

.grid-item__3, .grid-item__4{
  margin-top: -1rem;
}

.subTgrid{
  line-height: 2.5rem;
}

.comprar:hover{
  color: var(--DetallesyTitulos);
}
/* **Compra por** */

.ComprarPor{
  margin-left: 2rem;
}

.grid-comprar{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 2rem;
  padding: 4rem 2rem;
}

.item.charm{
  grid-column: 1;
  grid-row: 1;
}

.item.anillo{
  grid-column: 1;
  grid-row: 2;
}

.item.pulsera{
  grid-column: 1;
  grid-row: 3;
}

.item.imagenprueba{
  grid-column: 2;
  grid-row: 1 / span 3;
}

.item.imagenprueba img{
  width: 100%;
  height: auto;
  object-fit: cover;
}
/* **Sobre Nosotros** */

.sobrenosotros{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  padding: 5rem 8rem;
  align-items: center;
}

.sobrenosotros-texto{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sobrenosotros-texto h2{
  font-size: 4.5rem;
  font-family: var(--Tipografia);
}

.sobrenosotros-texto p{
  line-height: 1.6;
}

.sobrenosotros-imagen{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* Tablet */
@media (max-width: 1024px){
  .sobrenosotros {
    gap: 3rem;
    padding: 4rem 4rem;
  }
}

/* Móviles */
@media (max-width: 768px) {
  .sobrenosotros {
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 3rem 2rem;
    text-align: center;
  }

  .sobrenosotros-imagen {
    width: 100%;
    height: auto;
  }
}


/* ***CONTACTANOS*** */

form{
  display: flex;
  flex-direction: column;
  padding: 8rem;
  justify-self: start;
  max-width: 700px;
  width: 100%;
}

ul{
  list-style: none;
  padding: 0;
}

form li{
  margin-bottom: 2rem;
}

label{
  font-size: 1.4rem;
  display: block;
  margin-bottom: 2rem;
  font-weight: bold;
  font-family: var(--Tipografia);
}

input, textarea{
  width: 100%;
  padding: 1.6rem;
  font-size: 1.2rem;
  font-family: var(--Tipografia);
  border: 1px solid var(--colorPrincipal);
  border-radius: 0.6rem;
}

textarea{
  height: 150px;
  resize: vertical;
  font-size: 1.6rem;
}

.button{
  display: flex;
  justify-content: center;
}

.button .btn{
  font-size: 1.2rem;
  background: var(--colorPrincipal);
  color: var(--blanco);
  border: none;
  border-radius: 0.6rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

.button .btn:hover{
  background: var(--DetallesyTitulos);
}


/* RESPONSIVE */
@media (max-width: 768px){
  .hero{
      flex-direction: column;
      text-align: center;
      height: auto;
  }

  .hero-content{
      max-width: 90%;
      text-align: center;
  }

  .hero-image{
      max-width: 100%;
      justify-content: center;
      margin-top: 2rem;
  }

  .hero-image img{
      width: 100%;
      height: auto;
  }
  .formulario{
      grid-template-columns: 1fr;
      text-align: center;
  }
  
  .img-contac{
      justify-content: center;
  }
  
  form {
      justify-self: center;
  }

  .nosotros{
      grid-template-columns: 1fr;
      text-align: center;
  }

  .nosotros__titulo{
      font-size: 3rem;
      justify-content: center;
  }

  .nosotros__texto{
      font-size: 1.4rem; 
  }
  
  .nosotros__img{
      justify-content: center;
  }

  .nosotros__secciones{
      padding: 10px;
      width: 90%;
  }
 
  .servicios__grid {
      grid-template-columns: 1fr;
  }
}

/* ***Sobre la Tienda*** */

/* **HERO** */

.heroT{
  background-image: url('img/tienda.webp');
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex; 
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}
  
.btn__heroT{
  background-color: var(--Acento);
  line-height: 9rem;
  padding: 1rem 2rem;
  color: var(--blanco);
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 1.8rem;
}
  
.hero-tituloT{
  font-size: 10rem;
  color: var(--blanco);
}

.textoT{
  text-align: center;
}

.btn__heroT:hover{
  background-color: var(--DetallesyTitulos);
}

/* ***MAS VENDIDOS*** */

.TituloMasV{
  margin-left: 8rem;
  margin-top: 3rem;
}
.products-grid{
  margin-left: 8rem;
  margin-right: 8rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.product{
  padding: 10px;
  border-radius: 6px;
}

.featured{
  grid-row: span 2;
}

.imagen1{
  background-image: url('img/charm-evangeline.webp');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 75%;
  margin-bottom: 10px;
}

.imagen2{
  background-image: url('img/Charm-ceresas_1.webp');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 30vh;
  padding-top: 75%;
  margin-bottom: 10px;
}

.imagen3{
  background-image: url('img/up.webp');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 30vh;
  padding-top: 75%;
  margin-bottom: 10px;
}


p{
  margin: 0 0 5px 0;
  color: var(--colorPrincipal);
}

span{
  font-weight: bold;
}


/* ***TERMINOS*** */
#politicas-envio {
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.politicas-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 4rem;
}

.politica-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.politica-item i {
  font-size: 2.5rem;
}

.politica-item h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.politica-item p {
  font-size: 1rem;
  font-family: var(--Tipografia);
  color: var(--colorPrincipal);
  line-height: 1.6;
}

/* ***Tienda*** */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.container-icon {
  font-size: 2rem;
  margin-right: 8rem;
}

.TituloT{
  padding: 40px 0 40px 0;
  margin-left: 8rem;
}

#SubCharms, #SubCollares, #SubAnillos{
  margin-left: 8rem;
  padding: 20px 0 20px 0;
}

.btn-producto{
  font-size: 1.2rem;
  background: var(--Acento);
  color: var(--blanco);
  border: none;
  border-radius: 0.6rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

.btn-producto:hover{
  background-color: var(--DetallesyTitulos);
}

.grid-tienda {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.item-tienda {
  padding: 15px;
  text-align: center;
}

.tituloItem{
  display: flex;
  justify-content: flex-start;
}

.price{
  display: flex;
  justify-content: flex-start;
}

.info-producto{
  line-height: 3rem;
}

.imgItem{
  width: 50vh;
}


/* Responsive: cuando el ancho sea menor de 768px */
@media (max-width: 768px) {
  .grid-tienda {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas en móviles o tablets */
  }
}

/* ****FOOTER**** */
.footer{
  padding: 40px;
  font-family: var(--Tipografia);
}

.footer-container{
  margin-left: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-brand{
  flex: 1;
}

.footer-brand h2{
  font-size: 20px;
  margin-bottom: 10px;
}

.social-icons a{
  margin-right: 10px;
  display: inline-block;
}

.social-icons i{
font-size: 3rem;
}

.footer-links{
  display: flex;
  gap: 1px;
  flex: 2;
  justify-content: space-evenly;
}

.column h4{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.column a{
  display: block;
  font-size: 14px;
  color: var(--colorPrincipal);
  text-decoration: none;
  margin-bottom: 8px;
}

.column a:hover {
  text-decoration: underline;
}


/****Responsive ****/

@media screen and (max-width: 768px) {
  
  main{
    margin-top: 2rem;
  }
  .navegacion {
      flex-direction: column;
      align-items: flex-start;
      padding: 1rem;
  }

  .nav-derecha {
      flex-direction: column;
      gap: 2rem;
      margin-right: 0;
  }

  .logo {
      width: 20vw;
      margin: 0 auto;
  }
  .hero {
      height: 20vh;
      background-size: cover;
      justify-content: center;
      text-align: center;
  }

  .hero-titulo {
      font-size: 4rem;
  }

  .hero-texto {
      font-size: 1.6rem;
      line-height: 1.5rem;
  }

  .btn__hero {
      padding: 1rem;
      font-size: 1.2rem;
  }

  .grid-novedades {
      grid-template-columns: 1fr;
      gap: 1rem;
  }

  .grid-comprar {
      grid-template-columns: 1fr;
      gap: 2rem;
  }

  .item.imagenprueba img {
      object-fit: contain;
      gap: 1rem;
  }
}

/* Para pantallas medianas como tablets */
@media screen and (max-width: 1024px) {
  .hero {
    height: 80vh;
      background-size: cover;
  }

  .hero-texto{
    line-height: 2rem;
  }

  main{
    margin-top: 2rem;
  }
  .grid-novedades {
      grid-template-columns: 1fr 1fr;
      gap: 1.5rem;
  }

  .grid-comprar {
      grid-template-columns: 1fr 1fr;
  }
}

